<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Solar Battery Monitoringgg System{% endblock %}</title>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    {% block extra_js %}
    
    {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    {% block extra_css %}
    
    {% endblock %}
</head>
<body>
    <header>    
        <h1>Solar Battery Monitoring System</h1>
    </header>
    <nav>
        <ul>
            <span class="nav_links">
            <a href="/">Home</a>
            <a href="/devices">Devices</a> 
            <a href="/contacts">Contact</a>
            <a href="/about">About</a>
            <a href="/readings">Readings</a>
            </span>
        </ul>
    </nav>
    <main>
        {% block content %}
        
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2023 Kannur Solar Battery Monitoring System</p>
    </footer>
</body>
</html>