{% extends "base.html" %}

{% block title %}Device - {{ device_name }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='device.css') }}">
<link rel="stylesheet" href="https://code.highcharts.com/css/highcharts.css" />
{% endblock %}

{% block content %}
<div class="dashboard">
    <!-- <main> -->
        <div class="current-values">
            <div class="row">
                <div class="column-left">
                    <div id="chart-battery" class="chart-container"></div>
                </div>
                <div class="column-right">
                    <h3>Device: {{ device_name }}</h3>
                    <div class="control-panel">
                        <button id="controlButton" class="control-button">Toggle Control</button>
                        <p class="button-status" id="buttonStatus">Status: Inactive</p>
                        <p>Battery: <span id="battery">--</span>V</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="device-status">
            <h2>Device Status</h2>
            <ul id="deviceList"></ul>
        </div>
    <!-- </main> -->
</div>

<script src="{{ url_for('static', filename='device.js') }}"></script>
{% endblock %}