<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Solar Battery Monitoring System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <script>
        function sendDeviceInfo(deviceName) {
            fetch('/device-click', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ name: deviceName })
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }
    </script>
</head>
<body>
    <header>
        <h1>Solar Battery Monitoring System</h1>
    </header>
    <main>
        <h2>Devices</h2>
        <ul>
            {% for device in devices %}
                <li><a href="devices" target="_blank" onclick="sendDeviceInfo('{{ device.name }}')">{{ device.name }}</a> - Status: {{ device.status }} - IP: {{ device.ip }}</li>
            {% endfor %}
        </ul>
    </main>
    <footer>
        <p>&copy; 2023 Kannur Solar Battery Monitoring System</p>
    </footer>
</body>
</html>