{% extends "base.html" %}

{% block title %}Home - Solar Battery Monitor{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
{% endblock %}

{% block content %}
    <!-- <h1>Welcome to the Home Page</h1> -->
    <script>
        function sendDeviceInfo(deviceName) {
            fetch('/device-click', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ name: deviceName })
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }
    </script>
    <main>
        <h2 class="devices">Devices Lists</h2>
        <div class="device_list">
            <ul >
                {% for device in devices %}
                    <li>
                        <button> <a href="device/ " onclick="sendDeviceInfo('{{ device.name }}')"> {{ device.name }}  </a>
                        </button>
                        <span>   Status: {{ device.status }} - IP: {{ device.ip }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
        
    </main>
    <footer>
        <p>&copy; 2023 Kannur Solar Battery Monitoring System</p>
    </footer>
{% endblock %}