{% extends "base.html" %}

{% block title %}Home - Solar Battery Monitor{% endblock %}

{% block extra_js %}
<script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/networkgraph.js"></script>
    <!-- <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script> -->
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/network_graph.css') }}">
{% endblock %}

{% block content %}

    <h2 class="devices">Devices Lists</h2>
 


<div class="row">


        <ul id="device-list" >
            <div class="device_list column">
                <div class="search-bar">
                    <input type="text" id="search-input" placeholder="Search devices by Place">
                    <button onclick="searchDevices()" class="search-button" style="margin-left: .3rem;">Search</button>
                    <button onclick="sortDevices()" style="margin-left: 2rem;">Sort by Status</button>
                </div>
            {% for device in devices %}
                <li class="{{ 'active-device' if device.status.lower() == 'active' else 'inactive-device' }}">
                    <div>
                        <a href="/device/{{ device.assigned_place }}" class="button-link" onclick="sendDeviceInfo('{{ device.assigned_place }}')"> {{ device.assigned_place }}</a>
                    </div>
                    <div>
                        <span>Status: {{ device.status }} - IP: {{ device.ip }}</span>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div id="graph-container" class="column" ></div>
</div>

    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
    <script  src="{{ url_for('static', filename='js/network_graph.js') }}"></script>
{% endblock %}