/* Nord Theme Colors */
@import "base.css";


.vert_layout{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 10rem;
}
.news .center {
  display: flex;
  justify-content: center; 
  align-items: center;   
  height: 50vh;          
  text-align: center;     
}

button {
  background-color: var(--nord4);
}

/* Add hover effect for device buttons */
button:hover {
  background-color: var(--nord3);
  color: var(--nord6);
}

.button-link:hover {
  background-color: var(--nord9);
}


ul {
  list-style-type: none;
  display: flex;
}
li {
  background-color: var(--nord2);
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  max-width: 44rem;
  width: 100%;
  display: flex;
}
.device-name{
  padding-right: 10rem;
  color: blue;
}

.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 0.05em;
  text-decoration: none;
  /* text-transform: uppercase; */
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}

span{
  width: 200px; /* Set a fixed width */
  height: 50px; /* Set a fixed height */
}



.search-bar {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Style for link as button */
.button-link {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: var(--nord6);
  background-color: var(--nord8);
  min-width: 9rem;
  transition: background-color 0.3s ease;
}

.active-device {
  border: 2px solid var(--nord7);
  background-color: var(--nord3);
  color: white;
}
.inactive-device {
  border: 2px solid var(--nord3);
  background-color: var(--nord9);
  color: white;
}