main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 80vh; /* Adjust as needed */
}

.device_list {
    width: 100%;
    max-width: 800px; /* Adjust as needed */
    margin: 0 auto;
}

.devices_links {
    list-style-type: none;
    padding: 0;
}

.devices_links li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.devices_links button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.devices_links span {
    flex-grow: 1;
    text-align: right;
    padding-left: 20px;
}
