/* Nord Theme Colors */
:root {
  --nord0: #2e3440;
  --nord1: #3b4252;
  --nord2: #434c5e;
  --nord3: #4c566a;

  --nord4: #d8dee9;
  --nord5: #e5e9f0;
  --nord6: #eceff4;
  --nord7: #8fbcbb;
  --nord8: #88c0d0;
  --nord9: #81a1c1;
  --nord10: #5e81ac;
  --nord11: #bf616a;
  --nord12: #d08770;
  --nord13: #ebcb8b;
  --nord14: #a3be8c;
  --nord15: #b48ead;
  --nordx: #24A1DE;
}

body {
  background-color: var(--nord0);
  color: var(--nord4);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--nord1);
  color: var(--nord6);
  padding: 1rem 0;
  text-align: center;
  font-size: 22px;
}

h1 {
  text-align: center;
  text-shadow: var(--nord0) 10px 10px;
}

a {
  color: var(--nord8);
  text-decoration: none;
}

a:hover {
  color: var(--nord9);
  text-decoration: underline;
}

li {
  background-color: var(--nord2);
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  max-width: 600px;
  width: 100%;
  box-sizing: border-box;
}

footer {
  background-color: var(--nord1);
  color: var(--nord4);
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

nav {
  background-color: var(--nord1);
  overflow: hidden;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav .nav_links {
  display: flex;
  justify-content: space-around;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

/* button {
  background-color: var(--nord2);
} */
.button-link {
  display: inline-block;
  padding: 5px 10px;
  font-size: 16px;
  color: white;
  background-color: var(--nordx);
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-link:hover {
  background-color: var(--nord3);
}

.active-device {
  border: 2px solid var(--nord7);
  background-color: var(--nord3);
  color: white;
}

.inactive-device {
  border: 2px solid var(--nord3);
  background-color: var(--nord9);
  color: white;
}
